{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}

{% block container %}
    {% if config_info %}
        <div class="panel panel-primary">
            <div class="panel-heading">连接配置信息：</div>
            <div class="panel-body">
                <ul id="caminfolist" class="list-group">

                    <li class="list-group-item">
                        <h4 class="card-title active">redis地址: {{ config_info['redis_host'] }}</h4>
                    </li>
                    <li class="list-group-item">
                        <h4 class="card-title active">redis端口: {{ config_info['redis_port'] }}</h4>
                    </li>
                    <li class="list-group-item">
                        <h4 class="card-title active">获取摄像头配置api地址: {{ config_info['cam_api_config'] }}</h4>
                        <p> 请求结果: {{ config_api_res }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="card-title active">获取摄像头状态api地址: {{ config_info['cam_status_url'] }}</h4>
                        <p>请求api结果：</p>
                        {% for k,v in cam_status.items() %}
                    <li class="list-group-item">
                        <h5 class="card-title active">摄像头{{ k }}: {{ "运行中" if v['running'] else "没有运行"}} </h5> <h5>类型：{{ v['type'] }}</h5>
                    </li>
                    {% endfor %}


                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% if capture_list %}
        <div class="panel panel-primary">
            <div class="panel-heading">获取redis最新一帧：</div>
            <div class="panel-body">
                <ul id="caminfolist" class="list-group">
                    {% for k,v in capture_list.items() %}
                        <li class="list-group-item">
                            <div class="card {{ 'bg-success' if v['image_url'] else 'bg-danger' }}">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{ k }}">
                                        摄像头ID: {{ k }}({{ "有数据" if v['image_url'] else "没数据" }})
                                    </a>
                                </div>
                                <div id="collapse{{ k }}" class="collapse" data-parent="#caminfolist">
                                    <div class="card-body">
                                        <h4 class="card-title active">摄像头: {{ k }}</h4>
                                        {% if v['image_url'] %}
                                            <p class="card-text">拍摄时间:</p>
                                            <img class="card-img-bottom" src="{{ v['image_url'] }}" alt="Card image"
                                                 style="width:60%">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

